<footer>
        <div class="row" style="margin-right:0px;margin-left:0px;">
            <div class="col-md-3">
                <ul>
                    <li>
                        <a href="http://www.msal.gob.ar/celiacos/" target="_blank" ><span class="glyphicon glyphicon-tags" aria-hidden="true" style="margin-right: 3px;"></span> Programa nacional.</a>
                    </li>
                    <li>
                        <a href="http://servicios.infoleg.gob.ar/infolegInternet/anexos/160000-164999/162428/norma.htm" target="_blank" ><span class="glyphicon glyphicon-tags" aria-hidden="true" style="margin-right: 3px;"></span> Ley celiaca.</a>
                    </li>
                    <li>
                        <a href="http://www.celico.com.ar/cocina-para-celiacos/recetas-sin-tacc/informacion/" target="_blank" ><span class="glyphicon glyphicon-tags" aria-hidden="true" style="margin-right: 3px;"></span> Como evitar contaminacion cruzada.</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2 style="text-align:center;">"Si no tiene logo, no es apto"</h2>
                <h4 style="text-align:center;">es por ley</h4>
            </div>
            <div class="col-md-3">
                <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contacto</h4>
                <p>celiaco.noextraterrestre@gmail.com</p>
            </div>
        </div>
</footer>
